<h1 style="text-align: center">Customer List</h1>
<button class="btn btn-info" routerLink="create" style="text-align: center"> Thêm mới</button>
<div class="body">
  <table class="table table-success">
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Date</th>
      <th>Gender</th>
      <th>IdCard</th>
      <th>PhoneNumber</th>
      <th>Email</th>
      <th>Address</th>
      <th>Customer Type</th>
      <th colspan="2"></th>


    </tr>
    <tr *ngFor="let temp of customerList">
      <td>{{temp.id}}</td>
      <td>{{temp.name}}</td>
      <td>{{temp.date}}</td>
      <td>{{temp.gender}}</td>
      <td>{{temp.idCard}}</td>
      <td>{{temp.phoneNumber}}</td>
      <td>{{temp.email}}</td>
      <td>{{temp.address}}</td>
      <td>{{temp.customerType?.name}}</td>

      <td><a class="btn btn-primary" [routerLink]="['update/', temp.id]" >Edit</a></td>
      <td>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="item=temp">
          Xóa
        </button>
      </td>

    </tr>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoa Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>bạn muốn xóa {{item.name}} không</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">dong</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="delete(item.id)">xoa
        </button>
      </div>
    </div>
  </div>
</div>
