<h1 style="text-align: center">Customer List</h1>
<a role="button" class="btn btn-primary" href="createCustomer.html">Add To Customer List</a>
<div class="body">
  <table class="table table-success">
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Date</th>
      <th>Gender</th>
      <th>IdCard</th>
      <th>PhoneNumber</th>
      <th>Email</th>
      <th>Address</th>
      <th>Customer Type</th>
      <th colspan="2"></th>


    </tr>
    <tr *ngFor="let temp of customerList;index as i">
      <td>{{i+1}}</td>
      <td>{{temp.name}}</td>
      <td>{{temp.date}}</td>
      <td>{{temp.gender}}</td>
      <td>{{temp.idCard}}</td>
      <td>{{temp.phoneNumber}}</td>
      <td>{{temp.email}}</td>
      <td>{{temp.address}}</td>
      <td>{{temp.customerType.name}}</td>

      <td><a class="btn btn-primary" href="editCustomer.html">Edit</a></td>
      <td><a class="btn btn-danger">Delete</a></td>
    </tr>
  </table>
</div>

